<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#addAdmin">Add new Administrator</a></li>
  <li><a data-toggle="tab" href="#editAdmin">Edit Existing</a></li>
</ul>

<div class="tab-content">
  <div id="addAdmin" class="tab-pane fade in active">
    <form class="form-horizontal" ng-submit="registerAdmin()">
      <registration-form></registration-form>
    </form>
  </div>

  <div id="editAdmin" class="tab-pane fade">
    <form class="form-horizontal">
      <fieldset>
        <custom-search></custom-search>
      </fieldset>
    </form>
  </div>
</div>



