
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#createOrder">Place New Order</a></li>
  <li><a data-toggle="tab" href="#editOrder">Edit Existing</a></li>
</ul>

<!-- tabs -->
<div class="tab-content">
<!-- tab1 -->
  <div id="createOrder" class="tab-pane fade in active">
    <form class="form-horizontal" ng-submit="placeOrder()">
      <fieldset>
        <!-- Form Name -->
        <legend>Create Order</legend>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="customername">Select Customer</label>
          <div class="col-md-4">
           <selectize placeholder='Pick some things...' options='customers' config="customerConfig" ng-model="selectedCustomer" required=""></selectize>      
          </div>
        </div>
        <!-- Select Basic -->
        <div class="form-group" ng-if="userRole == 'master_admin' || userRole == 'administrator'">
          <label class="col-md-4 control-label" for="salespersonname">Select Sales Person</label>
          <div class="col-md-4">
           <selectize placeholder='Pick some things...' options='salespersons' config="spConfig" ng-model="$parent.selectedSP" required=""></selectize>      
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="selectedSite">Select Site</label>
          <div class="col-md-4">
           <selectize placeholder='Pick some things...' options='sites' config="siteConfig" ng-model="selectedSite" required=""></selectize> 
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="dateRangeSelected">Select Date Range</label>  
          <div class="col-md-4">
          <input date-range-picker class="form-control date-picker" name="dateRangeSelected" type="text" ng-model="datePicker.dateRange" options="{autoUpdateInput: false,locale: {cancelLabel: 'Clear',  format: 'YYYY-MM-DD'},eventHandlers: {'apply.daterangepicker':setValue()}}" required="" /><span ng-show="date_selected">{{totalDays+1}} days</span>          
          </div>          
        </div>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="cartrate">Customer Cart Rate</label> 
          <div class="col-md-4">
          <input id="cartrate" name="cartrate" type="text" placeholder="Cart Rate Offered to Customer" class="form-control input-md" ng-model="cust_cart_rate" pattern="[0-9]+(\\.[0-9][0-9]?)?" title="Cart rate offered to Customer" value="">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="orderdate">Order Date</label>  
          <div class="col-md-4">
          <input date-range-picker class="form-control date-picker" name="orderdate" type="text" ng-model="datePicker.orderdate" options="{autoUpdateInput: false, singleDatePicker: true, locale: {format: 'YYYY-MM-DD'}}" required="" />
          </div> 
        </div>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="installation_charges">Installation Charges</label>  
          <div class="col-md-4">
          <input id="installation_charges" name="installation_charges" type="text" placeholder="Charges for Installation" class="form-control input-md" ng-model="installation_charges" pattern="[0-9]+(\\.[0-9][0-9]?)?" title="Enter Installation charges amount" required="">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="amount">Amount</label>  
          <div class="col-md-4">
          <input id="amount" name="amount" type="text" placeholder="Final Amount" class="form-control input-md" ng-model="amount" pattern="[0-9]+(\\.[0-9][0-9]?)?" title="Enter Amount" required="" />
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="order_status">Order Status</label>
          <div class="col-md-4">
          <select id="order_status" name="order_status" class="form-control" >
            <option value="0">Pending</option>
            <option value="1">Live</option>
            <option value="2">Over</option>
          </select>
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="savebutton"></label>
          <div class="col-md-4">
          <input id="savebutton" type="submit" name="savebutton" class="btn btn-primary" value="Create Order">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div id="editOrder" class="tab-pane fade">
  </div>
</div>



