
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#createOrder">Add PO</a></li>
</ul>

<!-- tabs -->
<div class="tab-content">
<!-- tab1 -->
  <div id="createOrder" class="tab-pane fade in active">
    <form class="form-horizontal" ng-submit="addPO()" name="po_form">
      <fieldset>
        <!-- Form Name -->
        <legend>Add PO </legend>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="ordername">Select order</label>
          <div class="col-md-4">
           <selectize placeholder='Pick some things...' options='pending_po_order' config="ordersConfig" ng-model="selectedOrder" required=""></selectize>      
          </div>
        </div>
        <!-- <p>{ {{selectedOrder}} }</p> -->

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">PO Number</label>  
          <div class="col-md-4">
          <input id="textinput" name="textinput" type="text" placeholder="Enter PO Number" class="form-control input-md" ng-model="po_number" required="">
          <!-- <span class="help-block">help</span>   -->
          </div>
        </div>

        <!-- File Button --> 
        <div class="form-group">
          <label class="col-md-4 control-label" for="filebutton">Attach PO Copy</label>
          <div class="col-md-4">
            <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
            accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
            Select File</button>
            <br><br>
            File:
            <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
            <span class="progress" ng-show="f.progress >= 0">
            <div style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></div>
            </span>
            </div>     
            {{errorMsg}}
            <input type="hidden" id="uploaded_file_path" name="uploaded_file_path">
          </div>
        </div>


        <div class="form-group">
          <label class="col-md-4 control-label" for="selectstatus">Select PO status</label>
          <div class="col-md-4">
            <select id="postatus" name="selectstatus" class="form-control">
              <option value="0">Perfect</option>
              <option value="1">Short</option>
              <option value="2">Excess</option>
            </select>
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="savebutton"></label>
          <div class="col-md-4">
          <input id="savebutton" type="submit" name="savebutton" class="btn btn-primary" value="Done">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div id="editOrder" class="tab-pane fade">
  </div>
</div>



