<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#addCustomer">Add new Customer</a></li>
  <li><a data-toggle="tab" href="#editCustomer">Edit Existing</a></li>
</ul>


<div class="tab-content">
  <div id="addCustomer" class="tab-pane fade in active">
    <form class="form-horizontal" ng-submit="registerCustomer()">
      <fieldset>
        <!-- Form Name -->
        <legend>Company Registration</legend>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="partyname">Name</label>  
          <div class="col-md-4">
          <input id="partyname" name="partyname" type="text" placeholder="Name of Party" class="form-control input-md" ng-model="partyname" required="">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="useremail">Email</label>  
          <div class="col-md-4">
            <input id="useremail" name="useremail" type="email" placeholder="email of the user" class="form-control input-md" ng-model="useremail" required="">
          </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="address">Address</label>
          <div class="col-md-4">                     
            <textarea class="form-control" id="address" name="address" ng-model="address" required="">Address</textarea>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="pannumber">PAN Number</label>  
          <div class="col-md-4">
            <input id="pannumber" name="pannumber" type="text" placeholder="PAN of User" class="form-control input-md" ng-model="pannumber" required="">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="ofcnumber">Office Number</label>  
          <div class="col-md-4">
            <input id="ofcnumber" name="ofcnumber" type="text" placeholder="Office Contact" class="form-control input-md" ng-model="ofcnumber" required="">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="othernumber">Alternate Contact</label>  
          <div class="col-md-4">
            <input id="othernumber" name="othernumber" type="text" placeholder="Alternate Contact Number" class="form-control input-md" ng-model="othernumber" >
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for=""></label>
          <div class="col-md-4">
            <input type="submit" class="btn btn-primary" name="" value="Register">
          </div>
        </div>

      </fieldset>
    </form>
  </div>
  <div id="editCustomer" class="tab-pane fade">
    edit cust info
  </div>
</div>


