<!-- <footer class="page-footer" style="margin:0px; padding:0px;">
	<div class="footer-copyright">
	   <div class="container">
	      © 2016 Copyright Information
	      <a class="grey-text text-lighten-4 right" href="http://reverziel.com" target="_blank">Reverziel Infotech</a>
	   </div>
	</div>   
</footer> -->