<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#addSalesPerson">Add new Sales Person</a></li>
  <li><a data-toggle="tab" href="#editSalesPerson">Edit Existing</a></li>
</ul>

<div class="tab-content">
  <div id="addSalesPerson" class="tab-pane fade in active">
    <form class="form-horizontal" ng-submit="registerSalesPerson()">
      <registration-form></registration-form>
    </form>
  </div>
  <div id="editSalesPerson" class="tab-pane fade">
    <custom-search></custom-search>
  </div>
</div>