<div class="row">
    <div class="col-lg-12">
        <h1>{{message}}</h1>
        <div class="table-responsive">
        	<table class="table table-bordered table-responsive table-">
			<caption>Customers</caption>
			<thead>
				<tr>
					<th>Party Name</th>
					<th>Email Id</th>
					<th>Office Contact</th>
					<th>Address</th>
					<th>Other Contact</th>
					<th>PAN</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="singleCompany in companyData">
					<td>{{ singleCompany.party_name }}</td>
					<td>{{ singleCompany.email_id }}</td>
					<td>{{ singleCompany.office_number }}</td>
					<td>{{ singleCompany.address }}</td>
					<td>{{ singleCompany.other_number }}</td>
					<td>{{ singleCompany.PAN_number }}</td>
				</tr>
			</tbody>
			</table>
		</div>
		<hr>
		<div class="table-responsive">
        	<table class="table table-bordered table-responsive table-">
			<caption>Sites</caption>
			<thead>
				<tr>
					<th>Location Name</th>
					<th>Site Code</th>
					<th>Size</th>
					<th>Cart Rate</th>
					<th>Min Cart Rate</th>
					<th>Landmark</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="singleSite in siteData">
					<td>{{ singleSite.location_name }}</td>
					<td>{{ singleSite.site_code }}</td>
					<td>{{ singleSite.size }}</td>
					<td>{{ singleSite.cart_rate }}</td>
					<td>{{ singleSite.min_cart_rate }}</td>
					<td>{{ singleSite.landmark }}</td>
				</tr>
			</tbody>
			</table>
		</div>
    </div>
</div>